body {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-size: 13px;
  color: #222;
}
h1, h2, h3 {
  font-family: 'Oswald', Impact, Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 15px 0;
  padding: 0;
}
h1 {
  font-size: 300%;
  background: #fff;
  margin-left: 5px;
}
h2 {
  font-size: 210%;
}
h3 {
  font-size: 130%;
}
h4 {
  font-family: 'Oswald', Impact, Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 0;
  font-size: 100%;
  text-indent: 35px;
}
h5 {
  text-indent: 25px;
}
h6 {
  font-size: 210%;
  font-family: 'Oswald', Impact, Helvetica, Arial, sans-serif;
  font-weight: normal;
}
p {
  margin: 0 0 10px 0;
}
ul {
  margin: 0;
  list-style-type: square;
}
ul.class-two li {
    float:left; width:50%;
}
a {
  color: #222;
}
/* ________________________________________________________ */
.clear {
  clear: both;
}
#main {
  background: #fff;
  width: 900px; 
  padding: 35px;
  margin: 0 auto 15px auto;
  overflow: hidden; 
  box-shadow: 0 0 6px #ccc;
}
#namecontact {
  position: fixed; 
  top: 0px; 
  width:900px; 
  height: 100px; 
  background: #fff;
  z-index: 100;
}
#title {
  line-height: 42px;
  border-bottom: 3px solid #000;
  padding-bottom: 30px;
  margin: 0px 0 30px 0;
}
#projtitle {
  line-height: 42px;
  border-bottom: 3px solid #000;
  padding-bottom: 30px;
  margin: 0px 0 30px 0;
  text-indent: 50px;
}
#credit {
  margin-bottom: 20px;
  font-size: 11px;
  color: #999;
  text-align: center;
}
#credit a {
  color: #999;
}
p label {
  font-family: 'Oswald', Helvetica, Arial, serif; 
  font-size: 110%;
  margin-right: 10px;
}
p label span.colon {
  display: inline;
}
.itemproj li{
  margin-left: 30px;
}
.section {
  margin-bottom: 40px;
}
.topsection {
  margin-bottom: 40px;
  margin-top: 100px;
}
.section .set {
}
.item {
  margin: 0 0 20px 0;
}
/*  _____________________________ */
.section .title {
  text-transform: uppercase;
  font-size: 170%;
  padding: 10px 10px;
  margin: 0 auto 15px auto;
  display: inline-block;
  background: #000;
  color: #fff;
}
.maintitle {
  text-transform: uppercase;
  font-size: 170%;
  padding: 10px 10px;
  margin: 0 auto 15px auto;
  display: inline-block;
  background: #000;
  color: #fff;
}
.section .projtitle {
  text-transform: uppercase;
  font-size: 100%;
  margin-left: 20px;
  padding: 5px 5px;
  display: inline-block;
  background: #5E5E5E;
  color: #fff;
}
.section .set h3 {
  margin: 0;
}
.basic-info {
  border-top: 0;
}
.section.basic-info .title {
  float: left;
  border: 0;
}
.basic-info .set {
  float: right;
  width: 70%;
}
.basic-info .address {
  width: 40%;
  float: left;
}
.basic-info .r {
  float: right;
  width: 50%;
  text-align: right;
}
.basic-info label {
  font-family: 'Oswald', Helvetica, Arial, serif;
}
.basic-info label, .basic-info span  {
  display: inline !important;
}
.basic-info p {
  margin: 0;
}
.section span {
  display: block;
}
.section h3 span.l, .section span.r {
  width: 49%;
  float: left;
}
.section span.r {
  float: right;
  text-align: right;
}
.section-education .school,
.section-work .job_title {
  font-size: 100%;
  display: block;
  margin: 5px 0 5px 0;
}
#photo {
  width: 160px;
  height: 200px;
  overflow: hidden;
  float: left;
  margin-top: 4px;
  border-radius: 4px;
}
#photo img {
  width: 100%;
  height: auto;
}
.header.photo {
  margin-left: 190px;
}
.header.photo #title {
  text-align: left;
}
.header.photo .basic-info {
  float: none;
  padding: 0;
}
@media screen and (max-width: 950px) {
  body {
    background: #fff;
  }
  #main {
    box-shadow: none;
    padding: 0;
    padding: 5px;
  }
}
@media print {
  .no-print, .no-print *{
    display: none !important;
  }
}
.namename {
  position: relative;
}
.mainname {
  position: relative;
  text-align: right;
}
.namecontacts {
  position: relative;
  text-align: right;
}
#namebar {
  line-height: 42px;
  border-top: 3px solid #000;
  padding-bottom: 30px;
  margin: 0px 0 30px 0;
  position: relative;
  background: #fff;
}
#printbutton {
  position: fixed;
  top: 10px;
  right: 400px;
  text-align: right;
  z-index: 99999;
}

/* -- Original styling and code generated by http://cvmkr.com/ | many thanks! -- */
